.carousel {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

@media (min-width: 665px) {
    .carousel {
        width: 250px !important;
        margin: 0 auto;
        /* Center horizontally with margin */
        display: flex;
        justify-content: center;
        /* Horizontal centering */
        align-items: center;
        /* Vertical centering */
    }
}

@media (min-width: 992px) {
    .carousel {
        width: 450px !important;
        margin: 0 auto;
        /* Center horizontally with margin */
        display: flex;
        justify-content: center;
        /* Horizontal centering */
        align-items: center;
        /* Vertical centering */
    }
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Make carousel responsive */
@media (max-width: 768px) {
    .carousel {
        width: 100%;
    }
}