body,
html {
	height: 100%;
	background-color: beige !important;
}

body,
h1,
h2 {
	font-family: "Raleway", sans-serif;
}

p {
	line-height: 2;
}

.bgimg,
.bgimg2 {
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

.bgimg {
	background-image: url("../images/sg6.JPG");
}

.bgimg2 {
	background-image: url("../images/sg2.JPG");
}

.headertext {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
